body {
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden; 
}

body#index-page {
	background-color: #e1eada;
}

.contenedor-pagina {
	height: auto;
}

.header,
.footer,
.separador,
.menu {
	display: none;
}

#index-page .region-central {
	margin-top: 50px;
}

.contenedor-central {
	height: auto;
	width: 100%;
}

#home-page .menu {
	display: block;
	float: none;
	height: auto;
	width: 100%;
	margin-top: 10px;
}

#home-page .contenido-principal {
	display: none;
}

.logo,
.menu-items {
	margin: 0 auto;
    text-align: center;
    width: 250px;
}

.separador-menu-item {
	border-top: 1px solid #eae8e3;
	height: 4px;
	margin-top: 4px;
	width: 100%;
}

.separador-menu-item img,
.menu-pie img,
.linea-base-contenido img {
	display: none;
}

.menu-pie {
    position: relative;
    border-top: 1px solid #eae8e3;
	height: 4px;
	margin-top: 4px;
	width: 100%;
	float: none;
	clear: both;
}

#home-page .submenu {
	display: block;
}

.subitem-menu {
	text-align: right;
}

.contenido-principal,
.marco-contenido-principal {
	width: 100%;
	height: auto;
}

.Contenido {
	width: 90%;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 40px;
}

.contenido-titulo {
	background-color: #e1eada;
	padding: 10px;
	padding-left: 20px;
	padding-top: 15px;
	font-size: 14px;
	height: 15px;
	margin-bottom: 20px;
}

.contenido-titulo p {
	padding: 0px;
	margin: 0px;
	float: left;
}

.volver {
	position: relative;
	width: 95%;
	height: auto;
	bottom: 0px;
}

.linea-base-contenido {
	position: relative;
	width: 90%;
	height: auto;
	margin: 0 auto;
	border-bottom: 1px solid #eae8e3;
	padding-top: 5px;
}

.cerrar-pagina {
	display: block;
	float: right;
}

.cerrar-pagina a {
	text-decoration: none;
}

td {
	font-size: 13px;
}
