body {
  
   scrollbar-face-color: #EAEEF0;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #E7DEDE;
	scrollbar-3dlight-color: #EAEEF0;
	scrollbar-arrow-color:  #575858;
	scrollbar-track-color: #EFEFEF;
	scrollbar-darkshadow-color: #98AAB1;
  }

TD
{
    FONT-SIZE: 10px;
    /*COLOR: #838383;*/
	 COLOR: #3D3C3C;
	 font-family: Helvetica, Arial, sans-serif;
}


A.linkMenu:link
{
	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	font-variant: small-caps;
	text-align: right;
			padding-right: 25px;
			line-height: 17px;
}

A.linkMenu:active
{
	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
font-variant: small-caps;
	text-align: right;
				padding-right: 25px;
							line-height: 17px;
}

A.linkMenu:visited
{
 	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	font-variant: small-caps;
		text-align: right;
			padding-right: 25px;
			line-height: 17px;
}

A.linkMenu:hover
{
 	FONT-SIZE: 10px;
	color: #99AD8A;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
font-variant: small-caps;
	text-align: left;
	padding-right: 25px;
	line-height: 17px;
	/*background-image: url(imagenes/FlechaMenu.png);
   background-repeat: no-repeat;
	background-position: 25px;*/
}

.linkMenuSelect
{
 	FONT-SIZE: 10px;
	color: #99AD8A;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
font-variant: small-caps;
	text-align: left;
	line-height: 17px;
		padding-right: 25px;
	/*background-image: url(imagenes/FlechaMenu.png);
   background-repeat: no-repeat;
	background-position: 25px;*/
}

A.linkSubMenu:link
{
	FONT-SIZE: 9px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	text-align: right;
			padding-right: 25px;
			line-height: 15px;
}

A.linkSubMenu:active
{
	FONT-SIZE: 9px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	text-align: right;
				padding-right: 25px;
			line-height: 15px;
}

A.linkSubMenu:visited
{
 	FONT-SIZE: 9px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
		text-align: right;
			padding-right: 25px;
			line-height: 15px;
}

A.linkSubMenu:hover
{
 	FONT-SIZE: 9px;
	color: #99AD8A;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	text-align: left;
	padding-right: 25px;
			line-height: 15px;

}

.linkSubMenuSelect
{
 	FONT-SIZE: 9px;
	color: #99AD8A;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	text-align: left;
	padding-right: 25px;
			line-height: 15px;

}


A.linkIdioma:link
{
	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	font-variant: small-caps;
			line-height: 17px;
}

A.linkIdioma:active
{
	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
font-variant: small-caps;
							line-height: 17px;
}

A.linkIdioma:visited
{
 	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
	font-variant: small-caps;
			line-height: 17px;
}

A.linkIdioma:hover
{
 	FONT-SIZE: 10px;
	color: #717F62;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
font-variant: small-caps;
	line-height: 17px;
}


A.linkMail:link
{
	FONT-SIZE: 10px;
	color: #717F62;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
}

A.linkMail:active
{
	FONT-SIZE: 10px;
	color: #717F62;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;

}

A.linkMail:visited
{
 	FONT-SIZE: 10px;
	color: #717F62;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;

}

A.linkMail:hover
{
 	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;

}

.ContenidoTitulo {
	text-align: left;
	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	vertical-align: bottom;
	}
	
.ContenidoCopy {
	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	vertical-align: super;
	padding-top: 10px;
	
	text-align: right;
	padding-right: 30px;
	}

	
.Contenido {
	FONT-SIZE: 10px;
   /*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 10px;
	}
	
.ContenidoResaltado {
	FONT-SIZE: 10px;
   /*COLOR: #838383;*/
	COLOR: #3D3C3C;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	}

.ContenidoResaltadoColor {
	FONT-SIZE: 10px;
   COLOR: #717F62;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	}	
	
	.estilotextarea {
width:400px;
height:100px;
border: 2px solid #990000;
} 

.estilotextarea4 
{
background-color: transparent;
border-color:#ffffff;
/*border: 1px solid #000000;*/
scrollbar-arrow-color: #ffffff;
scrollbar-base-color: #ffffff;
scrollbar-dark-shadow-color: #ffffff;
scrollbar-track-color: #ffffff;
scrollbar-face-color: #6c7b6c;
scrollbar-shadow-color: #ffffff;
scrollbar-highlight-color: #ffffff;
FONT-SIZE: 10px;
COLOR: #333333;
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;

} 

.enlacevolver
{
    FONT-SIZE: 10px;
    COLOR: #717F62;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff;
	text-decoration: none;
}

/*Scroll*/

.conScroll { 
    scrollbar-arrow-color: #ffffff;
    scrollbar-base-color: #ffffff;
    scrollbar-darkshadow-color: #ffffff;
    scrollbar-track-color: #ffffff;
    scrollbar-face-color:#6c7b6c; 
    scrollbar-shadow-color: #ffffff;
    scrollbar-highlight-color:#ffffff;
    scrollbar-3dlight-color:#ffffff;
	 border-color:#ffffff;
    border: none;
    border: hidden; 
}

#LayerTexto {
    width:97%;
    height:86px;
    z-index:1;
    overflow: auto;
    background-color: #ffffff;
	 font-family: Arial;
    font-size: 7pt;
	text-align: left;
	margin-left: 9px;
	margin-top: 5px;
}

.TextoCV {
   
	 font-family: Arial;
    font-size: 7pt;
	text-align: justify;
}


A.linkContCV:link
{
	FONT-SIZE: 10px;
	color: #9e9d9d;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;
}

A.linkContCV:active
{
	FONT-SIZE: 10px;
	color: #3d3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;

}

A.linkContCV:visited
{
 	FONT-SIZE: 10px;
	color: #9e9d9d;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;

}

A.linkContCV:hover
{
 	FONT-SIZE: 10px;
	/*COLOR: #838383;*/
	COLOR: #3d3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	TEXT-DECORATION: none;
	font-style: normal;

}

